.section-padding{
    padding: 150px 0px 0px;
    }
    
.btn-sq-lg {
    width: 200px !important;
    height: 200px !important;
    border-radius: 0%;
}
    
.icon {
    padding-top: 20px;
    
}
    
.titles{
    padding-top: 30px;
}