<section id="work-shop" class="section-padding">
  <div class="container">
    <div class="row col-md-12">

      <div class="col-md-4 col-sm-4">
        <div class="btn btn-primary btn-lg text-center">
          <p>
            <a routerLink="/register" class="btn btn-sq-lg btn-primary shadow">
              <div class="icon">
                <i class="fas fa-pencil-alt fa-5x"></i><br />
              </div>
              <div class="titles">
                Solicitar crédito
              </div>

            </a>
          </p>

        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="btn btn-primary btn-lg text-center">
          <p>
            <a routerLink="/search" class="btn btn-sq-lg btn-primary shadow">
              <div class="icon">
                <i class="fas fa-search fa-5x"></i><br />
                <div class="titles">
                  Consultar meu cpf
                </div>

              </div>

            </a>
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
          <div class="btn btn-primary btn-lg text-center">
            <p>
              <a routerLink="/all" class="btn btn-sq-lg btn-primary shadow">
                <div class="icon">
                  <i class="fas fa-search fa-5x"></i><br />
                  <div class="titles">
                    Visualizar todos
                  </div>
  
                </div>
  
              </a>
            </p>
          </div>
        </div>

    </div>
  </div>
</section>
