.cpf-input{
    padding-top: 50px;
    justify-content: center;
}
.submit-button{
    justify-content: center;
    padding-top: 25px;
}
.validation{
    justify-content: center;
    padding-top: 45px;
}
.table{
    justify-content: center;
    padding-top: 70px;
}